.order-history-record {
    display: flex;
    width: 95%;
    /*border: black 1px solid;*/
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

.order-history-record-id {
    padding: 15px;
}

.order-history-record-items {
    display: flex;
    flex: 1;
}

.order-history-record-total-amount {
    padding: 10px;
}

.order-record-view-btn {
    border: none;
    background: none;
    color: royalblue;
    padding: 5px;
    border-radius: 10px;
}

.order-record-view-btn:hover {
    background-color: var(--hover-color);
}