.reader-chapter-content {
    background-color: var(--panel-color);
    width: 50dvw;
    color: var(--text-color);
    /*border: 1px solid purple;*/
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    margin: 10px 0;
}

@media (max-width: 1200px) {
    .reader-chapter-content {
        width: 60dvw;
    }
}

@media (max-width: 768px) {
    .reader-chapter-content {
        width: 100dvw;
    }
}